<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        var t = null;
        t = setTimeout(time);//開始运行
        function time()
        {
            clearTimeout(t);//清除定时器
            dt = new Date();
            var h=dt.getHours();//获取时
            var m=dt.getMinutes();//获取分
            var s=dt.getSeconds();//获取秒
            document.getElementById("showTime").innerHTML =h+"时"+m+"分"+s+"秒";
            t = setTimeout(time,1000); //设定定时器，循环运行
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#hero").click(function () {
                window.location.href = "/showHero";
            });
            $("#shop").click(function () {
                window.location.href = "shop/index";
            });
            $("#jsq").click(function () {
                window.location.href = "/jsq";
            });
            $("#heart").click(function () {
                window.location.href = "/heart";
            });
        })
    </script>
</head>
<body style="text-align: center">


    <div data-role="page" id="pageone">
        <div data-role="header">
            <h1 align="center"><label id="showTime"></label></h1><br>
        </div>

        <div data-role="content" id="ct">

            <!--<button href="/nowTime">系统时间</button>-->
            <!--<button href="/showHero" id="hero">数据库操作</button>-->
            <!--<a href="/login">简单的登录</a>-->
            <!--<button href="shop/index" id="shop">商城</button><br>-->

            <div class="container" style="margin: auto; width: 100%;">
                <button class="skewBtn purple-border purple-background" href="shop/index" id="shop">商城</button>
                <button class="skewBtn blue-border blue-background" href="jsq" id="jsq">计算器</button>
                <button class="skewBtn lorange-border lorange-background" href="/showHero" id="hero">数据库操作</button>
                <button class="skewBtn brick-border brick-background" href="/heart" id="heart">红心</button>
            </div>
        </div>

        <div data-role="footer" data-position="fixed" align="center">
            <span align="center"><a href="http://beian.miit.gov.cn/">粤ICP备20040788号</a></span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../static/css/备案图标.png">
            <span style="width:300px;margin:0 auto; padding:20px 0;">
          <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44090402441092" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">粤公网安备 44090402441092号</p></a>
      </span>
        </div>

    </div>
</body>
</html>